*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 90%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}
.texto-iluminado-preto {
    text-shadow: 2px 2px 5px rgba(112, 112, 112, 0.5);
}

.texto-iluminado-branco {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.texto-iluminado-preto.logo {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.75);
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

.nav ul li a.estilo-link {
    padding: 8px 10px;
}

.nav ul li a.estilo-botao {
    padding: 8px 16px;
}

.estilo-link {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: transparent;
    text-underline-offset: 8px;
}

.estilo-link:hover {
    text-decoration-color: #ffffff;
    text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.75);
}

.estilo-botao {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    font-weight: 600;
    transition: background 0.3s, color 0.2s, box-shadow 0.5s;
}

.estilo-botao:hover {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
}

.colecao {
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.opcao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.75);
    font-weight: 700;
    font-size: 20px;
    max-width: 275px;
    min-width: 250px;
    height: 250px;
    background-color: #111111;
    text-align: center;
    color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, color 0.2s, box-shadow 0.5s;
}

.opcao:hover {
    background-color: #ffffff;
    color: #111111;
    text-shadow: 2px 2px 5px #333333;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.25), 5px 5px 15px rgba(255, 255, 255, 0.5);
}

.colecao {
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.cor-verde {
    background-color: #19b820;
}

.cor-vermelho {
    background-color: #de0317;
}

.cor-amarelo {
    background-color: #fbc22b;
}

.cor-azul {
    background-color: #288ff4;
}

.opcao:hover.cor-verde {
    color: #19b820;
    text-shadow: 2px 2px 5px #19b820;
}

.opcao:hover.cor-vermelho {
    color: #de0317;
    text-shadow: 2px 2px 5px #de0317;
}

.opcao:hover.cor-amarelo {
    color: #fbc22b;
    text-shadow: 2px 2px 5px #fbc22b;
}

.opcao:hover.cor-azul {
    color: #288ff4;
    text-shadow: 2px 2px 5px #288ff4;
}
